body {
    margin: 0;
    padding: 0;
    background-image: url("images/tło.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top, center;
}
div.container {
    width: 1400px;
    margin: 10px auto;
    /*position: relative;*/
    /*border: 3px solid black;*/
}
div#form {
    width: 1000px;
    margin: 0 auto;
    /*margin: 30px 568px;*/
    padding: 20px 0 40px 0;
    text-align: center;
}
div#insideOfForm {

}
.alert-danger {
    color: red;
}
.alert-success {
    color: green;
}
table#registration {
    margin-left: 395px;
}
table#registration td {
    padding: 10px;
}
table#plan {
    margin-left: 168px;
}
table#plan td {
    padding: 10px;
}
a {
    color: teal;
    text-decoration: none;
    /*border-bottom: 1px dotted grey;*/
}
a:hover {
    color: lightgreen;
}
/*a:visited {*/
/*    color: red;*/
/*}*/
/*górna część kontenera*/
div#topOfContainer {
    background-image: url("images/top&bottom.png");
    width: 1400px;
    height: 131px;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 0;
}
div#main-logo {
    position: absolute;
    left: 100px;
    top: 10px;
}
a#logo {
    font-family: "Charmonman", cursive;
    display: inline-block;
    color: white;
    margin-top: 10px;
    font-size: 2.7rem;
    font-weight: 600;
    border: none;
}
a#logo span {
    color: #ff6600;
}
img.logo {
    position: absolute;
    /*margin: 20px;*/
    top: 20px;
    left: 20px;
}
div#contactBox {
    position: absolute;
    right: 10px;
    height: 131px;
    font-family: "Trebuchet MS", sans-serif;
}
div#contactBox tr {
    color: white;
    font-size: 15px;
    line-height: 115%;
}
div#contactBox a {
    border-bottom: none;
}
/* górne menu */
div#topMenu {
    position: absolute;
    bottom: -15px;
    left: 50px;
}
ul#topMenuList li {
    list-style-type: none;
    float: left;
}
ul#topMenuList li a {
    background-image: url("images/srodek_menu_gornego.gif");
    height: 31px;
    display: block;
    border-bottom: none;
    padding: 0 10px;
    margin-right: 2px;
    font-size: 12px;
    font-weight: bold;
    font-family: Verdana, Arial, sans-serif;
    border-left: 1px solid #ff6600;
    border-bottom: 3px solid #ff6600;
    color: white;
}
span.topMenuSpan {
    display: inline-block;
    margin-top: 9px;
}
ul#topMenuList li a:hover {
    background-image: url("images/srodek_menu_gornego_hover.gif");
    color: grey;
}
/* środkowe menu */
div#middleMenu {
    background-image: url("images/srodkowe_menu.gif");
    height: 32px;
    margin-top: 0;
}
div#middleMenu li {
    list-style-type: none;
    float: left;
    position: relative;
}
#middleMenu span.divide {
    display: inline-block;
    margin: 8px 20px;
    color: #c7c7d4;
}
div#middleMenu li a {
    border-bottom: none;
    color: #c7c7d4;
    font-size: 16px;
    font-family: "Trebuchet MS", sans-serif;
    font-weight: bold;
    font-style: italic;
}
div#middleMenu span.middleMenuSpan {
    display: block;
    margin-top: 8px;
}
#middleMenu #firstLevel {
    margin-left: 50px;
}
div#middleMenu li a:hover {
    color: white;
}
/* lista rozwijana */
#firstLevel li ul.secondLevel {
    display: none;
    position: absolute;
    padding: 5px 20px 0 0;
    top: 2em;
    left: -20px;
    background-color: #0F3250;
    border-left: 4px solid grey;
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
    opacity: 0.7;
    filter: alpha(opacity=70);
}
#firstLevel li .secondLevel li {
    margin-left: 20px;
    width: 130px;
    border-top: 1px solid #CCCCCC;
}
ul#firstLevel li:hover ul.secondLevel {
    display: block;
}
#firstLevel > li {
    height: 32px;
}
#firstLevel li .secondLevel li a {
    display: block;
    width: 130px;
    margin: 5px 0;
    padding: 5px 0;
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
}
#firstLevel li .secondLevel li a:hover {
    background-color: #CCCCCC;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: -10px;
    color: black;
}
/* content */
#content {

}
div#sidebar {
    float: left;
    background-color: #5a615f;
    height: 300px;
    width: 15%;
}
div#sidebar ul {
    list-style: none;
    padding-left: 0;
    margin-top: 5px;
}
div#sidebar ul li {
    margin-bottom: 10px;
}
div#sidebar li a {
    /*text-decoration: none;*/
    display: block;
    color: white;
    border: none;
    font-size: 1.5em;
    padding: 5px 5px 5px 20px;
}
div#sidebar li a:hover {
    border-left: 5px solid #ff6600;
    border-bottom: 2px solid #ff6600;
    padding-bottom: 3px;
}
.error {
    color: red;
}
#topOfContent {
    background-image: url("images/gora_strony.jpg");
    margin-top: 30px;
    height: 31px;
    width: 1400px;
}
#middleOfContent {
    background-image: url("images/białe-tło.png");
    width: 1400px;
}
#middleOfContent:after {
    content: "";
    display: block;
    clear: both;
}
#bottomOfContent {
    background-image: url("images/dol_zawartosci.jpg");
    height: 46px;
}
div#text {
    padding: 10px 50px;
    text-align: justify;
    line-height: 140%;
    font-family: sans-serif;
    font-size: 14px;
    min-height: 300px;
    float: left;
    width: 77%;
}
div#textNotLoggedIn {
    padding: 10px 50px;
    text-align: justify;
    line-height: 140%;
    font-family: sans-serif;
    font-size: 14px;
    min-height: 300px;
}
div#notLoggedUserContent {
    padding-left: 300px;
    margin-top: 50px;
}
.tableData {
    /*margin-bottom: 40px;*/
    margin: 50px auto;
    border-collapse: collapse;
    border-bottom: 3px solid #ff6600;
}
.tableData th {
    padding: 5px;
    width: 200px;
    border-bottom: 5px solid #ff6600;
}
.tableData td {
    padding: 5px 0;
    border-bottom: 1px solid #ff6600;
    text-align: center;
}
h1 {
    text-align: center;
    /*font-size: 18px;*/
    color: #0A3C72;
    margin-bottom: 30px;
    font-family: Calibri, Tahoma, Arial, sans-serif;
    font-style: italic;
    width: 100%;
}
p {
    margin-bottom: 15px;
    text-align: left;
}
h3 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    color: #0A3C72;
}
a.action {
    display: inline-block;
    color: white;
    padding: 10px 27px;
    background-color: #008CBA;
    border: 5px solid #008CBA;
    border-radius: 4px;
    transition-duration: 0.4s;
    font-size: 16px;
    margin-left: 850px;
    cursor: pointer;
}
a.action:hover {
    color: #008CBA;
    background-color: white;
}
#text ul {
    margin-left: 110px;
    margin-bottom: 50px;
    /*list-style-image: url("images/ol.gif");*/
}
#text ul li {
    margin-bottom: 5px;
}
#middleOfContent .sideText {
    /*position: absolute;*/
    width: 180px;
    clear: top;
    float: right;
    text-align: left;
    margin: 100px 30px 100px 0;
    font-size: 10px;
    font-family: Verdana, Arial, sans-serif;
    border: 1px dotted grey;
    padding: 20px 10px;
    background-image: url("images/tlo_boczne.jpg");
}
#middleOfContent .images {
    width: 200px;
    clear: right;
    float: right;
    margin-right: 30px;
    /*position: absolute;*/
}
.images img {
    /*clear: right;*/
    /*float: right;*/
    cursor: pointer;
    opacity: 0.6;
    filter: alpha(opacity=60);
    margin-top: 50px;
}
.images img:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}
/* stopka */
#footer {
    background-image: url("images/top&bottom.png");
    width: 1400px;
    height: 131px;
    margin-top: 10px;
}
#newsletterIcon {
    float: left;
    margin-left: 25px;
}
#newsletterText {
    color: white;
    padding-top: 15px;
}
#newsletterHeader {
    font-size: 15px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
    padding-left: 150px;
}
#newsletterForm {
    margin-top: 20px;
    padding-left: 160px;
    font-size: 15px;
}
.inputText {
    /*background-color: grey;*/
    font-size: 12px;
}
.submitButton {
    padding: 5px 10px;
    font-size: 10px;
    font-family: Verdana, Arial,sans-serif;
    font-weight: bold;
    cursor: pointer;
    border: 2px outset grey;
    margin-left: 15px;
}
.submitButton:active {
    border: 2px inset grey;
}
.submitButton:hover {
    color: green;
}
#newsletterInfo {
    font-size: 10px;
    font-family: Verdana, Arial, sans-serif;
    margin: 0 150px;
}
#copyright {
    font-size: 10px;
    font-family: Verdana, Arial, sans-serif;
    margin-top: 10px;
    text-align: center;
}
input.submit {
    display: inline-block;
    color: white;
    padding: 4px 9px;
    background-color: #008CBA;
    border: 5px solid #008CBA;
    border-radius: 4px;
    transition-duration: 0.4s;
    font-size: 16px;
    cursor: pointer;
    /*margin-left: 850px;*/
}
input.submit:hover {
    color: #008CBA;
    background-color: white;
}
a.return {
    display: inline-block;
    color: white;
    padding: 1px 3px;
    background-color: #e7e7e7;
    border: 3px solid #e7e7e7;
    /*border-radius: 4px;*/
    transition-duration: 0.4s;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    /*margin-left: 850px;*/
}
a.return:hover {
    color: #e7e7e7;
    background-color: white;
}
input.return {
    display: inline-block;
    color: white;
    padding: 1px 3px;
    background-color: #e7e7e7;
    border: 3px solid #e7e7e7;
    /*border-radius: 4px;*/
    transition-duration: 0.4s;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    /*margin-left: 850px;*/
}
input.return:hover {
    color: #e7e7e7;
    background-color: white;
}
a.button {
    display: inline-block;
    color: black;
    padding: 2px 6px;
    background-color: #e7e7e7;
    border: 3px solid #e7e7e7;
    border-radius: 4px;
    transition-duration: 0.4s;
    font-size: 14px;
    cursor: pointer;
    margin: 0 4px;
    /*margin-left: 850px;*/
}
a.button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
a.button-danger {
    display: inline-block;
    color: black;
    padding: 2px 6px;
    background-color: #e7e7e7;
    border: 3px solid #e7e7e7;
    border-radius: 4px;
    transition-duration: 0.4s;
    font-size: 14px;
    cursor: pointer;
    margin: 0 7px;
    /*margin-left: 850px;*/
}
a.button-danger:hover {
    color: red;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 red;
}

input.button {
    display: inline-block;
    color: black;
    padding: 2px 6px;
    background-color: #e7e7e7;
    border: 3px solid #e7e7e7;
    border-radius: 4px;
    transition-duration: 0.4s;
    font-size: 14px;
    cursor: pointer;
    margin: 0 4px;
    /*margin-left: 850px;*/
}
input.button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
input.button-danger {
    display: inline-block;
    color: black;
    padding: 2px 6px;
    background-color: #e7e7e7;
    border: 3px solid #e7e7e7;
    border-radius: 4px;
    transition-duration: 0.4s;
    font-size: 14px;
    cursor: pointer;
    margin: 0 7px;
    /*margin-left: 850px;*/
}
input.button-danger:hover {
    color: red;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 red;
}
td form {
    display: inline-block;
    margin-bottom: 0;
}
input.day {
    display: inline-block;
    color: white;
    padding: 4px 12px;
    background-color: #008CBA;
    border: 5px solid #008CBA;
    border-radius: 2px;
    transition-duration: 0.4s;
    font-size: 16px;
    cursor: pointer;
    /*margin-left: 850px;*/
}
input.day:hover {
    color: #008CBA;
    background-color: white;
}
th form {
    display: inline-block;
    margin-bottom: 0;
}
a.day {
    display: inline-block;
    color: white;
    padding: 4px 12px;
    background-color: #008CBA;
    border: 5px solid #008CBA;
    border-radius: 2px;
    transition-duration: 0.4s;
    font-size: 16px;
    cursor: pointer;
    /*margin-left: 850px;*/
}
a.day:hover {
    color: #008CBA;
    background-color: white;
}
input.action {
    display: inline-block;
    color: white;
    padding: 10px 27px;
    background-color: #008CBA;
    border: 5px solid #008CBA;
    border-radius: 4px;
    transition-duration: 0.4s;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 40px
}
input.action:hover {
    color: #008CBA;
    background-color: white;
}
a.shoppingList {
    display: inline-block;
    color: white;
    padding: 10px 27px;
    background-color: #ff6600;
    border: 5px outset #ff6600;
    /*border-radius: 4px;*/
    transition-duration: 0.2s;
    font-size: 16px;
    margin-left: 750px;
    cursor: pointer;
}
a.shoppingList:hover {
    color: black;
}
a.shoppingList:active {
    border: 5px inset #ff6600;
}
table#addRecipeToPlan {
    margin-left: 285px;
}
table#addRecipeToPlan td {
    padding: 10px;
}
input.delete {
    display: inline-block;
    color: white;
    padding: 4px 9px;
    background-color: #f44336;
    border: 5px solid #f44336;
    border-radius: 4px;
    transition-duration: 0.4s;
    font-size: 16px;
    cursor: pointer;
    /*margin-left: 850px;*/
}
input.delete:hover {
    color: #f44336;
    background-color: white;
}
table#editIngredientWQ {
    margin-left: 324px;
}
table#editIngredientWQ td {
    padding: 10px;
}
table#recipeDetails {
    margin-left: 324px;
}
table#recipeDetails td {
    padding: 10px;
}
textarea {
    font-family: sans-serif;
}
input {
    font-family: sans-serif;
}
table#addIngredient {
    margin-left: 302px;
}
table#addIngredient td {
    padding: 10px;
}
table#editPassword {
    margin-left: 380px;
}
table#editPassword td {
    padding: 10px;
}
table#createSet {
    margin-left: 126px;
}
table#createSet td {
    padding: 10px;
}
table#newIngredient {
    margin-left: 294px;
}
table#newIngredient td {
    padding: 10px;
}
div.image {
    padding: 50px 150px 50px 0;
    float: left;
}